# dir
alias ll="ls -alF"
alias -- -="cd -" # 1 location back
alias -- -2="cd -2" # 2 locations back
alias -- -3="cd -3" # 3 locations back
alias -- -4="cd -4" # 4 locations back
alias -- -5="cd -5" # 5 locations back
alias ..="cd .." # 1 dir up
alias ..2="cd ../.." # 2 dirs up
alias ..3="cd ../../.." # 3 dirs up
alias ..4="cd ../../../.." # 4 dirs up
alias ..5="cd ../../../../.." # 5 dirs up

# svn
alias svnignore="svn propedit svn:ignore ."

# gems
alias gunall="gem list | cut -d" " -f1 | xargs gem uninstall -aIx"
alias bundle="rbenv exec bundle"
alias biv="bundle install --path=vendor"
alias cowa="bundle exec compass watch"

# random
alias nyan="TERM=ansi telnet nyancat.dakko.us"
alias reshell="exec $SHELL -l"
alias please="sudo"
alias assin="php app/console assets:install --symlink public"

JQUERY="~/jquery-git.js"
URL="http://code.jquery.com/jquery-git.js"
alias jquery="rm -f $JQUERY; wget -O $JQUERY $URL || curl $URL --output $JQUERY"